In [3]:
import pandas
from scipy.stats import ttest_ind
from collections import Counter

In [4]:
data = pandas.read_csv('train.csv')

In [5]:
data

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2014-02-12 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,2013-10-13 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,2015-01-31 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,2014-07-11 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,2013-11-15 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan
5,A677334,Elsa,2014-04-25 13:04:00,Transfer,Partner,Dog,Intact Female,1 month,Cairn Terrier/Chihuahua Shorthair,Black/Tan
6,A699218,Jimmy,2015-03-28 13:11:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Tabby
7,A701489,NaN,2015-04-30 17:02:00,Transfer,Partner,Cat,Unknown,3 weeks,Domestic Shorthair Mix,Brown Tabby
8,A671784,Lucy,2014-02-04 17:17:00,Adoption,NaN,Dog,Spayed Female,5 months,American Pit Bull Terrier Mix,Red/White
9,A677747,NaN,2014-05-03 07:48:00,Adoption,Offsite,Dog,Spayed Female,1 year,Cairn Terrier,White
10,A668402,NaN,2013-12-05 15:50:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Black
11,A666320,NaN,2013-11-04 14:48:00,Adoption,NaN,Dog,Spayed Female,2 years,Miniature Schnauzer Mix,Silver
12,A684601,Rocket,2016-02-03 11:27:00,Adoption,Foster,Dog,Neutered Male,4 years,Pit Bull Mix,Brown
13,A704702,Scooter,2015-06-08 16:30:00,Return_to_owner,NaN,Dog,Neutered Male,2 years,Yorkshire Terrier Mix,Black/Red
14,A688584,Preston,2015-11-25 15:00:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Great Pyrenees Mix,White/Cream
15,A678825,Oliver,2014-07-12 12:10:00,Adoption,Foster,Cat,Neutered Male,3 months,Domestic Shorthair Mix,Orange Tabby/White
16,A678050,NaN,2014-05-03 16:15:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby
17,A680028,NaN,2014-06-07 12:54:00,Transfer,Partner,Dog,Intact Female,2 weeks,Pit Bull Mix,Brown/White
18,A679010,Chrissy,2014-05-17 11:32:00,Transfer,Partner,Cat,Intact Female,2 years,Angora Mix,White
19,A684787,Kuma,2014-07-30 17:34:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Flat Coat Retriever Mix,Black
20,A670658,Anders,2014-01-19 15:03:00,Transfer,Partner,Dog,Intact Male,2 months,Queensland Heeler Mix,Black/White
21,A708812,Munchkin,2015-09-18 15:19:00,Transfer,Partner,Cat,Spayed Female,1 year,Domestic Shorthair Mix,White
22,A705262,Jamaica,2015-08-15 14:22:00,Adoption,NaN,Dog,Spayed Female,2 years,Plott Hound/Boxer,Brown Brindle/White
23,A665781,Quattro,2013-10-28 16:32:00,Adoption,NaN,Dog,Neutered Male,10 months,German Shepherd Mix,Brown/White
24,A676333,Trigger,2014-04-09 17:44:00,Return_to_owner,NaN,Dog,Neutered Male,2 months,German Shepherd Mix,Black/Brown
25,A712750,Olive,2015-10-03 15:44:00,Transfer,Partner,Cat,Intact Female,1 month,Domestic Shorthair Mix,Orange Tabby
26,A718832,Nia,2016-01-15 17:31:00,Adoption,NaN,Dog,Spayed Female,6 months,American Staffordshire Terrier Mix,Chocolate/White
27,A698777,Chloe,2015-03-25 18:50:00,Adoption,NaN,Dog,Spayed Female,5 years,Chihuahua Shorthair Mix,White/Tan
28,A715348,Cymbale,2015-11-21 13:01:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Cream Tabby/White
29,A708666,Jax,2015-07-30 14:30:00,Return_to_owner,NaN,Cat,Neutered Male,7 years,Russian Blue Mix,Blue
...,...,...,...,...,...,...,...,...,...,...
26699,A676460,Mario,2014-04-21 14:01:00,Euthanasia,Behavior,Dog,Neutered Male,2 years,American Pit Bull Terrier Mix,White/Black
26700,A704999,Lion,2015-06-15 19:28:00,Return_to_owner,NaN,Dog,Intact Male,10 months,Great Pyrenees/Anatol Shepherd,Tan/Cream
26701,A678842,Ella,2014-06-15 17:41:00,Transfer,Partner,Dog,Intact Female,11 months,Jack Russell Terrier Mix,White/Black
26702,A713637,NaN,2015-10-11 09:42:00,Died,In Kennel,Cat,Spayed Female,2 years,Siamese Mix,Lynx Point
26703,A716670,Mowmow,2015-12-04 12:22:00,Transfer,Partner,Cat,Neutered Male,6 years,Domestic Longhair Mix,Seal Point
26704,A716223,Alice,2015-11-17 17:17:00,Transfer,Partner,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,White/Black
26705,A662498,Grace,2013-10-19 15:34:00,Transfer,Partner,Cat,Intact Female,2 months,Domestic Shorthair Mix,Tortie
26706,A689942,Zoey,2014-10-19 13:29:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Black
26707,A682690,NaN,2014-07-01 17:06:00,Euthanasia,Suffering,Cat,Unknown,1 year,Domestic Shorthair Mix,Brown Tabby
26708,A666920,Herbie,2013-11-13 17:32:00,Transfer,Partner,Dog,Neutered Male,2 years,Chihuahua Shorthair Mix,White/Brown
26709,A714386,NaN,2015-10-24 00:00:00,Adoption,NaN,Dog,Spayed Female,1 month,Chihuahua Shorthair Mix,Sable/Buff
26710,A692622,Bonnie,2014-11-24 17:21:00,Transfer,Partner,Dog,Intact Female,1 month,Chihuahua Shorthair/Yorkshire Terrier,Brown/Black
26711,A666284,Sonja,2013-10-30 18:32:00,Transfer,Partner,Dog,Intact Female,1 year,Cocker Spaniel/Dachshund,Buff
26712,A535277,Merlin,2015-04-20 16:04:00,Return_to_owner,NaN,Dog,Neutered Male,12 years,Rat Terrier,Chocolate/Tan
26713,A671169,NaN,2014-01-20 17:37:00,Euthanasia,Suffering,Cat,Intact Female,18 years,Domestic Longhair Mix,Tortie
26714,A679031,Pete,2014-05-31 16:11:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Orange Tabby
26715,A708833,Luna,2015-08-05 17:03:00,Adoption,NaN,Dog,Spayed Female,2 months,Pointer Mix,Black/White
26716,A697158,Max,2015-05-02 21:04:00,Adoption,Offsite,Dog,Neutered Male,2 months,Newfoundland Mix,White/Black
26717,A519949,Bella,2014-06-30 17:34:00,Return_to_owner,NaN,Dog,Spayed Female,9 years,Bullmastiff Mix,Black
26718,A701044,NaN,2015-04-28 14:26:00,Adoption,NaN,Dog,Neutered Male,2 months,Siberian Husky/German Shepherd,Black/Tricolor
26719,A707871,NaN,2015-07-20 09:00:00,Transfer,SCRP,Cat,Unknown,2 years,Domestic Shorthair Mix,Brown Tabby/White
26720,A704405,Brownie,2015-07-18 14:08:00,Adoption,NaN,Cat,Spayed Female,2 months,Domestic Shorthair Mix,Brown Tabby
26721,A662019,Green Bean,2014-07-17 09:43:00,Adoption,Foster,Cat,Spayed Female,5 years,Domestic Shorthair Mix,Black
26722,A687056,NaN,2014-08-31 09:00:00,Transfer,SCRP,Cat,Intact Male,5 months,Domestic Shorthair Mix,Orange Tabby
26723,A716997,Zeus,2016-01-29 18:52:00,Adoption,NaN,Dog,Neutered Male,6 years,Staffordshire Mix,Blue/White
26724,A702446,NaN,2015-05-14 11:56:00,Transfer,Partner,Cat,Intact Male,1 month,Domestic Shorthair Mix,Brown Tabby/White
26725,A718934,NaN,2016-01-20 18:59:00,Transfer,SCRP,Cat,Spayed Female,3 months,Domestic Shorthair Mix,Brown Tabby
26726,A698128,Zeus,2015-03-09 13:33:00,Adoption,NaN,Dog,Neutered Male,4 years,Old English Bulldog Mix,White/Tan
26727,A677478,NaN,2014-04-27 12:22:00,Transfer,Partner,Cat,Intact Male,4 weeks,Domestic Shorthair Mix,Black
26728,A706629,NaN,2015-07-02 09:00:00,Transfer,SCRP,Cat,Intact Male,1 year,Domestic Shorthair Mix,Brown Tabby/White

In [6]:
data['Sex'] = data['SexuponOutcome'].apply(lambda x: x.split()[1] if (x != 'Unknown' and type(x) == type('')) else None)

In [7]:
data['Sterilisation'] = data['SexuponOutcome'].apply(lambda x: not x.split()[0]=='Intact' if (x != 'Unknown' and type(x) == type('')) else None)

In [8]:
data.groupby('Color').count()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Sex,Sterilisation
Color,,,,,,,,,,,
Agouti,1,1,1,1,0,1,1,1,1,1,1
Agouti/Brown Tabby,1,1,1,1,0,1,1,1,1,1,1
Apricot,21,16,21,21,7,21,21,21,21,21,21
Apricot/Brown,2,2,2,2,1,2,2,2,2,2,2
Apricot/White,3,2,3,3,1,3,3,3,3,3,3
Black,2292,1491,2292,2292,1323,2292,2292,2288,2292,2091,2091
Black Brindle,20,18,20,20,7,20,20,20,20,20,20
Black Brindle/Black,1,1,1,1,0,1,1,1,1,1,1
Black Brindle/Brown,3,3,3,3,1,3,3,3,3,3,3
Black Brindle/Brown Brindle,1,1,1,1,1,1,1,1,1,1,1
Black Brindle/White,74,61,74,74,26,74,74,74,74,74,74
Black Smoke,46,32,46,46,23,46,46,46,46,46,46
Black Smoke/Brown Tabby,1,0,1,1,1,1,1,1,1,1,1
Black Smoke/White,15,11,15,15,8,15,15,15,15,15,15
Black Tabby,42,14,42,42,34,42,42,42,42,36,36
Black Tabby/Orange,1,1,1,1,0,1,1,1,1,1,1
Black Tabby/White,18,12,18,18,12,18,18,17,18,16,16
Black Tiger/White,2,1,2,2,1,2,2,2,2,2,2
Black/Black,4,3,4,4,3,4,4,4,4,4,4
Black/Black Brindle,5,4,5,5,1,5,5,5,5,5,5
Black/Black Smoke,3,1,3,3,2,3,3,3,3,3,3
Black/Black Tabby,1,0,1,1,1,1,1,1,1,1,1
Black/Blue,3,3,3,3,2,3,3,3,3,3,3
Black/Blue Merle,8,7,8,8,4,8,8,8,8,8,8
Black/Blue Tick,6,4,6,6,1,6,6,6,6,6,6
Black/Brown,436,374,436,436,132,436,436,436,436,435,435
Black/Brown Brindle,45,34,45,45,23,45,45,45,45,45,45
Black/Brown Merle,2,2,2,2,1,2,2,2,2,2,2
Black/Buff,5,4,5,5,0,5,5,5,5,5,5
Black/Chocolate,2,0,2,2,1,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
White/Chocolate,39,31,39,39,18,39,39,39,39,39,39
White/Chocolate Point,3,0,3,3,3,3,3,3,3,3,3
White/Cream,36,25,36,36,20,36,36,36,36,36,36
White/Cream Tabby,5,3,5,5,4,5,5,5,5,5,5
White/Flame Point,1,1,1,1,0,1,1,1,1,1,1
White/Gold,3,3,3,3,1,3,3,3,3,3,3
White/Gray,55,43,55,55,23,55,55,55,55,53,53
White/Gray Tabby,2,2,2,2,0,2,2,2,2,2,2
White/Liver,12,11,12,12,3,12,12,12,12,12,12
White/Lynx Point,2,0,2,2,2,2,2,2,2,2,2
White/Orange,30,21,30,30,14,30,30,30,30,28,28
White/Orange Tabby,52,31,52,52,31,52,52,52,52,48,48
White/Pink,3,3,3,3,3,3,3,3,3,3,3
White/Red,55,48,55,55,24,55,55,55,55,55,55
White/Red Merle,4,3,4,4,1,4,4,4,4,4,4
White/Red Tick,7,6,7,7,4,7,7,7,7,7,7
White/Silver,3,2,3,3,1,3,3,3,3,2,2
White/Tan,389,339,389,389,147,389,389,389,389,389,389
White/Tricolor,51,43,51,51,17,51,51,51,51,50,50
White/White,12,12,12,12,5,12,12,12,12,12,12
White/Yellow,2,2,2,2,1,2,2,2,2,2,2
White/Yellow Brindle,4,3,4,4,0,4,4,4,4,4,4
Yellow,185,157,185,185,53,185,185,185,185,185,185
Yellow Brindle,12,10,12,12,4,12,12,12,12,12,12
Yellow Brindle/Blue,1,1,1,1,0,1,1,1,1,1,1
Yellow Brindle/Tan,1,1,1,1,0,1,1,1,1,1,1
Yellow Brindle/White,17,16,17,17,7,17,17,17,17,17,17
Yellow/Black,1,1,1,1,0,1,1,1,1,1,1
Yellow/White,43,36,43,43,15,43,43,43,43,43,43
Yellow/Yellow,1,1,1,1,0,1,1,1,1,1,1

In [9]:
def convert_age_to_days(age_string):
    if type(age_string) != type(''):
        return age_string
    num, unit = age_string.split()
    if unit[0] == 'd':   # I don't expect it, but just in case
        return int(num)
    if unit[0] == 'w':
        return int(num) * 7
    if unit[0] == 'm':
        return int(num) * 30
    if unit[0] == 'y':
        return int(num) * 365

In [10]:
data['AgeInDays'] = data['AgeuponOutcome'].apply(convert_age_to_days)

In [11]:
data['Mix'] = data['Breed'].apply(lambda x: x.endswith('Mix'))

In [12]:
data['HasName'] = data['Name'].apply(lambda x: not pandas.isnull(x))

In [13]:
data.groupby('OutcomeType').count()

,AnimalID,Name,DateTime,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,Sex,Sterilisation,AgeInDays,Mix,HasName
OutcomeType,,,,,,,,,,,,,,
Adoption,10769,9091,10769,1966,10769,10769,10769,10769,10769,10769,10769,10769,10769,10769
Died,197,77,197,181,197,197,197,197,197,172,172,197,197,197
Euthanasia,1555,740,1555,1554,1555,1555,1553,1555,1555,1454,1454,1553,1555,1555
Return_to_owner,4786,4633,4786,0,4786,4785,4786,4786,4786,4773,4773,4786,4786,4786
Transfer,9422,4497,9422,9416,9422,9422,9406,9422,9422,8467,8467,9406,9422,9422

In [14]:
data.groupby(('OutcomeType', 'OutcomeSubtype')).count()

                                 AnimalID  Name  DateTime  AnimalType  \
OutcomeType OutcomeSubtype
Adoption    Barn                        1     0         1           1
            Foster                   1800  1542      1800        1800
            Offsite                   165   132       165         165
Died        At Vet                      4     3         4           4
            Enroute                     8     1         8           8
            In Foster                  52    29        52          52
            In Kennel                 114    35       114         114
            In Surgery                  3     2         3           3
Euthanasia  Aggressive                320   278       320         320
            Behavior                   86    74        86          86
            Court/Investigation         6     6         6           6
            Medical                    66    38        66          66
            Rabies Risk                74    43        74          74
            Suffering                1002   301      1002        1002
Transfer    Barn                        1     1         1           1
            Partner                  7816  4436      7816        7816
            SCRP                     1599    58      1599        1599

                                 SexuponOutcome  AgeuponOutcome  Breed  Color  \
OutcomeType OutcomeSubtype
Adoption    Barn                              1               1      1      1
            Foster                         1800            1800   1800   1800
            Offsite                         165             165    165    165
Died        At Vet                            4               4      4      4
            Enroute                           8               8      8      8
            In Foster                        52              52     52     52
            In Kennel                       114             114    114    114
            In Surgery                        3               3      3      3
Euthanasia  Aggressive                      320             320    320    320
            Behavior                         86              86     86     86
            Court/Investigation               6               6      6      6
            Medical                          66              66     66     66
            Rabies Risk                      74              74     74     74
            Suffering                      1002            1000   1002   1002
Transfer    Barn                              1               1      1      1
            Partner                        7816            7816   7816   7816
            SCRP                           1599            1583   1599   1599

                                  Sex  Sterilisation  AgeInDays   Mix  HasName
OutcomeType OutcomeSubtype
Adoption    Barn                    1              1          1     1        1
            Foster               1800           1800       1800  1800     1800
            Offsite               165            165        165   165      165
Died        At Vet                  4              4          4     4        4
            Enroute                 6              6          8     8        8
            In Foster              49             49         52    52       52
            In Kennel              99             99        114   114      114
            In Surgery              3              3          3     3        3
Euthanasia  Aggressive            319            319        320   320      320
            Behavior               86             86         86    86       86
            Court/Investigation     6              6          6     6        6
            Medical                63             63         66    66       66
            Rabies Risk            69             69         74    74       74
            Suffering             910            910       1000  1002     1002
Transfer    Barn                    1              1          1     1        1
            Partner              7167           7167       7816  7816     7816
            SCRP                 1293           1293       1583  1599     1599

In [15]:
data[data['AnimalType']=='Cat'].groupby(('Sex', 'Sterilisation', 'Mix', 'HasName', 'OutcomeType')).count()

                                                    AnimalID  Name  DateTime  \
Sex    Sterilisation Mix   HasName OutcomeType
Female False         False False   Euthanasia              3     0         3
                                   Transfer               23     0        23
                           True    Adoption                2     2         2
                                   Euthanasia              1     1         1
                                   Transfer               12    12        12
                     True  False   Adoption                6     0         6
                                   Died                   24     0        24
                                   Euthanasia            166     0       166
                                   Return_to_owner         4     0         4
                                   Transfer             1273     0      1273
                           True    Adoption              133   133       133
                                   Died                   16    16        16
                                   Euthanasia             36    36        36
                                   Return_to_owner        14    14        14
                                   Transfer              401   401       401
       True          False False   Adoption                7     0         7
                                   Transfer                5     0         5
                           True    Adoption               48    48        48
                                   Euthanasia              2     2         2
                                   Return_to_owner         4     4         4
                                   Transfer               18    18        18
                     True  False   Adoption              296     0       296
                                   Died                    5     0         5
                                   Euthanasia             35     0        35
                                   Return_to_owner        22     0        22
                                   Transfer              127     0       127
                           True    Adoption             1682  1682      1682
                                   Died                    6     6         6
                                   Euthanasia             38    38        38
                                   Return_to_owner       187   187       187
...                                                      ...   ...       ...
Male   False         False True    Died                    1     1         1
                                   Return_to_owner         2     2         2
                                   Transfer               13    13        13
                     True  False   Adoption                3     0         3
                                   Died                   34     0        34
                                   Euthanasia            197     0       197
                                   Return_to_owner         3     0         3
                                   Transfer             1187     0      1187
                           True    Adoption               91    91        91
                                   Died                   26    26        26
                                   Euthanasia             30    30        30
                                   Return_to_owner         5     5         5
                                   Transfer              297   297       297
       True          False False   Adoption                5     0         5
                                   Euthanasia              1     0         1
                                   Transfer                1     0         1
                           True    Adoption               59    59        59
                                   Euthanasia              1     1         1
                                   Return_to_owner         8     8         8
                                   Transfer               14    14        14
                     True  False   Adoption              329     0       329
                                   Died                    4     0         4
                                   Euthanasia             61     0        61
                                   Return_to_owner        10     0        10
                                   Transfer              163     0       163
                           True    Adoption             1608  1608      1608
                                   Died                    5     5         5
                                   Euthanasia             45    45        45
                                   Return_to_owner       234   234       234
                                   Transfer              517   517       517

                                                    OutcomeSubtype  \
Sex    Sterilisation Mix   HasName OutcomeType
Female False         False False   Euthanasia                    3
                                   Transfer                     23
                           True    Adoption                      0
                                   Euthanasia                    1
                                   Transfer                     12
                     True  False   Adoption                      0
                                   Died                         23
                                   Euthanasia                  166
                                   Return_to_owner               0
                                   Transfer                   1273
                           True    Adoption                      9
                                   Died                         16
                                   Euthanasia                   36
                                   Return_to_owner               0
                                   Transfer                    401
       True          False False   Adoption                      0
                                   Transfer                      5
                           True    Adoption                      9
                                   Euthanasia                    2
                                   Return_to_owner               0
                                   Transfer                     18
                     True  False   Adoption                     82
                                   Died                          5
                                   Euthanasia                   35
                                   Return_to_owner               0
                                   Transfer                    127
                           True    Adoption                    503
                                   Died                          5
                                   Euthanasia                   38
                                   Return_to_owner               0
...                                                            ...
Male   False         False True    Died                          0
                                   Return_to_owner               0
                                   Transfer                     13
                     True  False   Adoption                      0
                                   Died                         33
                                   Euthanasia                  197
                                   Return_to_owner               0
                                   Transfer                   1187
                           True    Adoption                      9
                                   Died                         25
                                   Euthanasia                   30
                                   Return_to_owner               0
                                   Transfer                    297
       True          False False   Adoption                      1
                                   Euthanasia                    1
                                   Transfer                      1
                           True    Adoption                     13
                                   Euthanasia                    1
                                   Return_to_owner               0
                                   Transfer                     14
                     True  False   Adoption                     78
                                   Died                          4
                                   Euthanasia                   60
                                   Return_to_owner               0
                                   Transfer                    163
                           True    Adoption                    456
                                   Died                          5
                                   Euthanasia                   45
                                   Return_to_owner               0
                                   Transfer                    517

                                                    AnimalType  \
Sex    Sterilisation Mix   HasName OutcomeType
Female False         False False   Euthanasia                3
                                   Transfer                 23
                           True    Adoption                  2
                                   Euthanasia                1
                                   Transfer                 12
                     True  False   Adoption                  6
                                   Died                     24
                                   Euthanasia              166
                                   Return_to_owner           4
                                   Transfer               1273
                           True    Adoption                133
                                   Died                     16
                                   Euthanasia               36
                                   Return_to_owner          14
                                   Transfer                401
       True          False False   Adoption                  7
                                   Transfer                  5
                           True    Adoption                 48
                                   Euthanasia                2
                                   Return_to_owner           4
                                   Transfer                 18
                     True  False   Adoption                296
                                   Died                      5
                                   Euthanasia               35
                                   Return_to_owner          22
                                   Transfer                127
                           True    Adoption               1682
                                   Died                      6
                                   Euthanasia               38
                                   Return_to_owner         187
...                                                        ...
Male   False         False True    Died                      1
                                   Return_to_owner           2
                                   Transfer                 13
                     True  False   Adoption                  3
                                   Died                     34
                                   Euthanasia              197
                                   Return_to_owner           3
                                   Transfer               1187
                           True    Adoption                 91
                                   Died                     26
                                   Euthanasia               30
                                   Return_to_owner           5
                                   Transfer                297
       True          False False   Adoption                  5
                                   Euthanasia                1
                                   Transfer                  1
                           True    Adoption                 59
                                   Euthanasia                1
                                   Return_to_owner           8
                                   Transfer                 14
                     True  False   Adoption                329
                                   Died                      4
                                   Euthanasia               61
                                   Return_to_owner          10
                                   Transfer                163
                           True    Adoption               1608
                                   Died                      5
                                   Euthanasia               45
                                   Return_to_owner         234
                                   Transfer                517

                                                    SexuponOutcome  \
Sex    Sterilisation Mix   HasName OutcomeType
Female False         False False   Euthanasia                    3
                                   Transfer                     23
                           True    Adoption                      2
                                   Euthanasia                    1
                                   Transfer                     12
                     True  False   Adoption                      6
                                   Died                         24
                                   Euthanasia                  166
                                   Return_to_owner               4
                                   Transfer                   1273
                           True    Adoption                    133
                                   Died                         16
                                   Euthanasia                   36
                                   Return_to_owner              14
                                   Transfer                    401
       True          False False   Adoption                      7
                                   Transfer                      5
                           True    Adoption                     48
                                   Euthanasia                    2
                                   Return_to_owner               4
                                   Transfer                     18
                     True  False   Adoption                    296
                                   Died                          5
                                   Euthanasia                   35
                                   Return_to_owner              22
                                   Transfer                    127
                           True    Adoption                   1682
                                   Died                          6
                                   Euthanasia                   38
                                   Return_to_owner             187
...                                                            ...
Male   False         False True    Died                          1
                                   Return_to_owner               2
                                   Transfer                     13
                     True  False   Adoption                      3
                                   Died                         34
                                   Euthanasia                  197
                                   Return_to_owner               3
                                   Transfer                   1187
                           True    Adoption                     91
                                   Died                         26
                                   Euthanasia                   30
                                   Return_to_owner               5
                                   Transfer                    297
       True          False False   Adoption                      5
                                   Euthanasia                    1
                                   Transfer                      1
                           True    Adoption                     59
                                   Euthanasia                    1
                                   Return_to_owner               8
                                   Transfer                     14
                     True  False   Adoption                    329
                                   Died                          4
                                   Euthanasia                   61
                                   Return_to_owner              10
                                   Transfer                    163
                           True    Adoption                   1608
                                   Died                          5
                                   Euthanasia                   45
                                   Return_to_owner             234
                                   Transfer                    517

                                                    AgeuponOutcome  Breed  \
Sex    Sterilisation Mix   HasName OutcomeType
Female False         False False   Euthanasia                    3      3
                                   Transfer                     23     23
                           True    Adoption                      2      2
                                   Euthanasia                    1      1
                                   Transfer                     12     12
                     True  False   Adoption                      6      6
                                   Died                         24     24
                                   Euthanasia                  166    166
                                   Return_to_owner               4      4
                                   Transfer                   1266   1273
                           True    Adoption                    133    133
                                   Died                         16     16
                                   Euthanasia                   36     36
                                   Return_to_owner              14     14
                                   Transfer                    401    401
       True          False False   Adoption                      7      7
                                   Transfer                      5      5
                           True    Adoption                     48     48
                                   Euthanasia                    2      2
                                   Return_to_owner               4      4
                                   Transfer                     18     18
                     True  False   Adoption                    296    296
                                   Died                          5      5
                                   Euthanasia                   35     35
                                   Return_to_owner              22     22
                                   Transfer                    126    127
                           True    Adoption                   1682   1682
                                   Died                          6      6
                                   Euthanasia                   38     38
                                   Return_to_owner             187    187
...                                                            ...    ...
Male   False         False True    Died                          1      1
                                   Return_to_owner               2      2
                                   Transfer                     13     13
                     True  False   Adoption                      3      3
                                   Died                         34     34

I heard that black cats are less likely to be adopted because they are associated with bad luck. Let's check it.

In [16]:
cats = data[data['AnimalType']=='Cat'].copy()

In [17]:
cats['Black'] = cats['Color'].apply(lambda x: 'black' in x.lower())

In [18]:
cats.groupby('Black').count()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,Sex,Sterilisation,AgeInDays,Mix,HasName
Black,,,,,,,,,,,,,,,
False,8271,4531,8271,8271,5528,8271,8271,8259,8271,8271,7596,7596,8259,8271,8271
True,2863,1584,2863,2863,1983,2863,2863,2858,2863,2863,2522,2522,2858,2863,2863

In [19]:
cats[cats['Black']==True].groupby('OutcomeType').count() / 2863

,AnimalID,Name,DateTime,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,Sex,Sterilisation,AgeInDays,Mix,HasName,Black
OutcomeType,,,,,,,,,,,,,,,
Adoption,0.356968,0.308418,0.356968,0.095005,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968,0.356968
Died,0.014321,0.005589,0.014321,0.014321,0.014321,0.014321,0.014321,0.014321,0.014321,0.012225,0.012225,0.014321,0.014321,0.014321,0.014321
Euthanasia,0.066015,0.014670,0.066015,0.066015,0.066015,0.066015,0.066015,0.066015,0.066015,0.053440,0.053440,0.066015,0.066015,0.066015,0.066015
Return_to_owner,0.045407,0.042263,0.045407,0.000000,0.045407,0.045407,0.045407,0.045407,0.045407,0.044010,0.044010,0.045407,0.045407,0.045407,0.045407
Transfer,0.517290,0.182326,0.517290,0.517290,0.517290,0.517290,0.515543,0.517290,0.517290,0.414251,0.414251,0.515543,0.517290,0.517290,0.517290

In [20]:
cats[cats['Black']==False].groupby('OutcomeType').count() / 8271

,AnimalID,Name,DateTime,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,Sex,Sterilisation,AgeInDays,Mix,HasName,Black
OutcomeType,,,,,,,,,,,,,,,
Adoption,0.392939,0.331641,0.392939,0.107363,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939,0.392939
Died,0.012816,0.004715,0.012816,0.011607,0.012816,0.012816,0.012816,0.012816,0.012816,0.010760,0.010760,0.012816,0.012816,0.012816,0.012816
Euthanasia,0.062991,0.013783,0.062991,0.062870,0.062991,0.062991,0.062870,0.062991,0.062991,0.056462,0.056462,0.062870,0.062991,0.062991,0.062991
Return_to_owner,0.044735,0.040503,0.044735,0.000000,0.044735,0.044735,0.044735,0.044735,0.044735,0.044372,0.044372,0.044735,0.044735,0.044735,0.044735
Transfer,0.486519,0.157176,0.486519,0.486519,0.486519,0.486519,0.485189,0.486519,0.486519,0.413856,0.413856,0.485189,0.486519,0.486519,0.486519

In [21]:
sum(cats['Color'] == 'Black'), sum(cats['Color'] != 'Black'),

(1441, 9693)

In [22]:
cats[cats['Color']=='Black'].groupby('OutcomeType')['AnimalID'].count() / 1441

OutcomeType
Adoption           0.356697
Died               0.013185
Euthanasia         0.063845
Return_to_owner    0.041638
Transfer           0.524636
Name: AnimalID, dtype: float64

In [23]:
cats[cats['Color']!='Black'].groupby('OutcomeType')['AnimalID'].count() / 9693

OutcomeType
Adoption           0.387702
Died               0.013205
Euthanasia         0.063757
Return_to_owner    0.045394
Transfer           0.489941
Name: AnimalID, dtype: float64

In [24]:
ttest_ind(cats[cats['Color']!='Black']['OutcomeType']=='Adoption', cats[cats['Color']=='Black']['OutcomeType']=='Adoption')

Ttest_indResult(statistic=2.2586457965797107, pvalue=0.023924696032936642)

In [25]:
ttest_ind(cats[cats['Black']==True]['OutcomeType']=='Adoption', cats[cats['Black']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=-3.4128290526149234, pvalue=0.00064521186829645527)

In [26]:
ttest_ind(cats[cats['Sex']=='Male']['OutcomeType']=='Adoption', cats[cats['Sex']=='Female']['OutcomeType']=='Adoption')

Ttest_indResult(statistic=-0.39094245337012462, pvalue=0.6958480058778217)

In [27]:
ttest_ind(cats[cats['Sterilisation']==True]['OutcomeType']=='Adoption', cats[cats['Sterilisation']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=75.403718853679322, pvalue=0.0)

In [28]:
sum(cats['Sterilisation'] == True), sum(cats['Sterilisation'] != False),

(6077, 7093)

In [29]:
cats[cats['Sterilisation']==True].groupby('OutcomeType')['AnimalID'].count() / 6077

OutcomeType
Adoption           0.663814
Died               0.003291
Euthanasia         0.030114
Return_to_owner    0.076518
Transfer           0.226263
Name: AnimalID, dtype: float64

In [30]:
cats[cats['Sterilisation']==False].groupby('OutcomeType')['AnimalID'].count() / 7093

OutcomeType
Adoption           0.033554
Died               0.014662
Euthanasia         0.061610
Return_to_owner    0.003948
Transfer           0.455942
Name: AnimalID, dtype: float64

In [31]:
ttest_ind(cats[cats['HasName']==True]['OutcomeType']=='Adoption', cats[cats['HasName']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=56.956651632520135, pvalue=0.0)

In [32]:
print(sum(cats['HasName'] == True), sum(cats['HasName'] == False))

6115 5019

In [33]:
print(cats[cats['HasName']==True].groupby('OutcomeType')['AnimalID'].count() / 6115)
print(cats[cats['HasName']==False].groupby('OutcomeType')['AnimalID'].count() / 5019)

OutcomeType
Adoption           0.592968
Died               0.008994
Euthanasia         0.025511
Return_to_owner    0.074571
Transfer           0.297956
Name: AnimalID, dtype: float64
OutcomeType
Adoption           0.128711
Died               0.018330
Euthanasia         0.110381
Return_to_owner    0.008767
Transfer           0.733812
Name: AnimalID, dtype: float64

In [34]:
ttest_ind(cats[cats['Mix']==True]['OutcomeType']=='Adoption', cats[cats['Mix']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=-2.0110027069106899, pvalue=0.044349234001741455)

In [35]:
print(sum(cats['Mix'] == True), sum(cats['Mix'] == False))

10853 281

In [36]:
dogs = data[data['AnimalType']=='Dog'].copy()

In [37]:
ttest_ind(dogs[dogs['Sterilisation']==True]['OutcomeType']=='Adoption', dogs[dogs['Sterilisation']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=50.285429536852327, pvalue=0.0)

In [38]:
ttest_ind(dogs[dogs['Sex']=='Male']['OutcomeType']=='Adoption', dogs[dogs['Sex']=='Female']['OutcomeType']=='Adoption')

Ttest_indResult(statistic=-6.4767508752974372, pvalue=9.6538106213546423e-11)

In [39]:
ttest_ind(dogs[dogs['HasName']==True]['OutcomeType']=='Adoption', dogs[dogs['HasName']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=3.5004235951472031, pvalue=0.00046581677174705415)

In [40]:
ttest_ind(dogs[dogs['Mix']==True]['OutcomeType']=='Adoption', dogs[dogs['Mix']==False]['OutcomeType']=='Adoption')

Ttest_indResult(statistic=-4.5632144714236276, pvalue=5.0760690879326322e-06)

In [41]:
print(sum(dogs['Mix'] == True), sum(dogs['Mix'] == False))

11445 4150

In [42]:
cats[cats['Mix']==False].groupby('Breed').count()['AnimalID']

Breed
Bengal                                       2
British Shorthair                            1
Burmese                                      1
Devon Rex                                    1
Domestic Longhair                           23
Domestic Longhair/Persian                    2
Domestic Longhair/Rex                        1
Domestic Longhair/Russian Blue               1
Domestic Medium Hair                        42
Domestic Medium Hair/Siamese                 2
Domestic Shorthair                         143
Domestic Shorthair/British Shorthair         1
Domestic Shorthair/Domestic Medium Hair      1
Domestic Shorthair/Manx                      1
Domestic Shorthair/Siamese                   2
Himalayan                                    3
Maine Coon                                   3
Manx                                         1
Manx/Domestic Longhair                       1
Manx/Domestic Shorthair                      2
Persian                                      2
Ragdoll                                      1
Russian Blue                                 2
Siamese                                     24
Siamese/Domestic Shorthair                  11
Siamese/Japanese Bobtail                     2
Snowshoe                                     2
Snowshoe/Ragdoll                             1
Sphynx                                       2
Name: AnimalID, dtype: int64

In [43]:
breeds = cats[cats['Mix']==False].groupby('Breed').count()['AnimalID']

In [44]:
breeds.sort(inplace=False)

/home/serpens/opt/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

Breed
Manx                                         1
British Shorthair                            1
Burmese                                      1
Devon Rex                                    1
Snowshoe/Ragdoll                             1
Domestic Longhair/Rex                        1
Domestic Longhair/Russian Blue               1
Manx/Domestic Longhair                       1
Ragdoll                                      1
Domestic Shorthair/Manx                      1
Domestic Shorthair/British Shorthair         1
Domestic Shorthair/Domestic Medium Hair      1
Manx/Domestic Shorthair                      2
Bengal                                       2
Siamese/Japanese Bobtail                     2
Snowshoe                                     2
Persian                                      2
Russian Blue                                 2
Domestic Shorthair/Siamese                   2
Domestic Medium Hair/Siamese                 2
Domestic Longhair/Persian                    2
Sphynx                                       2
Himalayan                                    3
Maine Coon                                   3
Siamese/Domestic Shorthair                  11
Domestic Longhair                           23
Siamese                                     24
Domestic Medium Hair                        42
Domestic Shorthair                         143
Name: AnimalID, dtype: int64

In [45]:
colors = []
for i in data['Color']:
    colors += i.split('/')
#colors = list(set(colors))
#colors.sort()

In [46]:
Counter(colors)

Counter({'Agouti': 2,
         'Apricot': 30,
         'Black': 7786,
         'Black Brindle': 114,
         'Black Smoke': 69,
         'Black Tabby': 67,
         'Black Tiger': 2,
         'Blue': 1346,
         'Blue Cream': 34,
         'Blue Merle': 182,
         'Blue Point': 31,
         'Blue Smoke': 6,
         'Blue Tabby': 696,
         'Blue Tick': 54,
         'Blue Tiger': 9,
         'Brown': 3046,
         'Brown Brindle': 868,
         'Brown Merle': 84,
         'Brown Tabby': 2696,
         'Brown Tiger': 5,
         'Buff': 328,
         'Calico': 556,
         'Calico Point': 27,
         'Chocolate': 495,
         'Chocolate Point': 24,
         'Cream': 296,
         'Cream Tabby': 282,
         'Fawn': 209,
         'Flame Point': 86,
         'Gold': 86,
         'Gray': 352,
         'Gray Tabby': 55,
         'Lilac Point': 39,
         'Liver': 27,
         'Liver Tick': 4,
         'Lynx Point': 186,
         'Orange': 86,
         'Orange Tabby': 1353,
         'Orange Tiger': 1,
         'Pink': 4,
         'Red': 873,
         'Red Merle': 59,
         'Red Tick': 59,
         'Ruddy': 1,
         'Sable': 324,
         'Seal Point': 159,
         'Silver': 78,
         'Silver Lynx Point': 2,
         'Silver Tabby': 42,
         'Tan': 3031,
         'Torbie': 398,
         'Tortie': 584,
         'Tortie Point': 34,
         'Tricolor': 912,
         'White': 12198,
         'Yellow': 237,
         'Yellow Brindle': 39})

In [50]:
dogs.groupby('Breed').count()['AnimalID'].sort(inplace=False)

/home/serpens/opt/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

Breed
French Bulldog                               1
Golden Retriever/Whippet                     1
Great Dane/Australian Cattle Dog             1
Great Dane/Boxer                             1
Great Dane/German Shepherd                   1
Great Dane/Pit Bull                          1
Great Dane/Staffordshire                     1
Great Pyrenees/Australian Shepherd           1
Great Pyrenees/Boxer                         1
Great Pyrenees/Collie Rough                  1
Great Pyrenees/English Setter                1
Great Pyrenees/German Shepherd               1
Great Pyrenees/Pit Bull                      1
Great Pyrenees/Pointer                       1
Great Pyrenees/Rottweiler                    1
Great Pyrenees/Siberian Husky                1
Great Pyrenees/Standard Poodle               1
Greyhound/Dalmatian                          1
Greyhound/Great Dane                         1
Greyhound/Labrador Retriever                 1
Harrier/Labrador Retriever                   1
Harrier/Pointer                              1
Havanese                                     1
Hovawart Mix                                 1
Golden Retriever/Pit Bull                    1
Ibizan Hound/Pit Bull                        1
Golden Retriever/Pembroke Welsh Corgi        1
Golden Retriever/Finnish Spitz               1
Flat Coat Retriever/Labrador Retriever       1
French Bulldog/English Bulldog               1
                                          ...
Labrador Retriever/Pit Bull                 81
Chihuahua Shorthair                         85
Great Pyrenees Mix                          86
American Staffordshire Terrier Mix          92
Pointer Mix                                 93
Staffordshire Mix                           94
Australian Kelpie Mix                       95
Chihuahua Shorthair/Dachshund               98
Shih Tzu Mix                               100
Cairn Terrier Mix                          102
American Bulldog Mix                       109
Rottweiler Mix                             113
Beagle Mix                                 124
Miniature Schnauzer Mix                    136
Siberian Husky Mix                         138
Chihuahua Longhair Mix                     142
Yorkshire Terrier Mix                      143
Jack Russell Terrier Mix                   146
Catahoula Mix                              157
Rat Terrier Mix                            157
Australian Shepherd Mix                    163
Border Collie Mix                          229
Miniature Poodle Mix                       233
Boxer Mix                                  245
Dachshund Mix                              318
Australian Cattle Dog Mix                  367
German Shepherd Mix                        575
Labrador Retriever Mix                    1363
Chihuahua Shorthair Mix                   1766
Pit Bull Mix                              1906
Name: AnimalID, dtype: int64

In [63]:
breeds = [i.replace('/', ' ').split() for i in dogs['Breed']]
Counter(sum(breeds, []))

Counter({'Affenpinscher': 10,
         'Afghan': 1,
         'Airedale': 9,
         'Akita': 29,
         'Alaskan': 43,
         'American': 380,
         'Anatol': 152,
         'Apso': 77,
         'Argentino': 17,
         'Australian': 1049,
         'Basenji': 24,
         'Basset': 101,
         'Bay': 14,
         'Beagle': 311,
         'Bearded': 2,
         'Beauceron': 14,
         'Bedlington': 3,
         'Belgian': 25,
         'Bernard': 24,
         'Bernese': 9,
         'Bichon': 22,
         'Black': 132,
         'Bloodhound': 12,
         'Blue': 74,
         'Bluetick': 7,
         'Boerboel': 4,
         'Bordeaux': 6,
         'Border': 506,
         'Borzoi': 1,
         'Boston': 86,
         'Boxer': 437,
         'Boykin': 4,
         'Brindle': 1,
         'Brittany': 15,
         'Bruss': 28,
         'Bull': 2445,
         'Bulldog': 232,
         'Bullmastiff': 11,
         'Cairn': 176,
         'Canaan': 6,
         'Canario': 3,
         'Cane': 8,
         'Cardigan': 128,
         'Carolina': 49,
         'Catahoula': 272,
         'Cattle': 640,
         'Cavalier': 19,
         'Chesa': 14,
         'Chihuahua': 2591,
         'Chin': 3,
         'Chinese': 99,
         'Chow': 300,
         'Coat': 78,
         'Coated': 31,
         'Cocker': 107,
         'Collie': 512,
         'Coonhound': 19,
         'Corgi': 170,
         'Corso': 8,
         'Crested': 5,
         'Cur': 105,
         'Dachshund': 788,
         'Dalmatian': 23,
         'Dane': 59,
         'De': 6,
         'Doberman': 79,
         'Dog': 711,
         'Dogo': 17,
         'Dogue': 6,
         'Duck': 5,
         'Dutch': 9,
         'Elkhound': 1,
         'English': 106,
         'Entlebucher': 1,
         'Eskimo': 14,
         'Feist': 6,
         'Field': 2,
         'Finnish': 14,
         'Flat': 54,
         'Fox': 46,
         'Foxhound': 11,
         'French': 14,
         'Frise': 22,
         'German': 995,
         'Giant': 5,
         'Glen': 4,
         'Golden': 126,
         'Great': 231,
         'Greater': 4,
         'Greyhound': 50,
         'Griffon': 30,
         'Hair': 24,
         'Hairless': 1,
         'Harrier': 27,
         'Havanese': 17,
         'Heeler': 73,
         'Highland': 26,
         'Hound': 317,
         'Hovawart': 1,
         'Husky': 247,
         'Ibizan': 4,
         'Imaal': 4,
         'Inu': 22,
         'Irish': 15,
         'Italian': 26,
         'Italiano': 1,
         'Jack': 270,
         'Japanese': 3,
         'Jindo': 3,
         'Keeshond': 7,
         'Kelpie': 133,
         'Kuvasz': 1,
         'Labrador': 2275,
         'Lacy': 74,
         'Landseer': 6,
         'Leonberger': 9,
         'Lhasa': 77,
         'Longhair': 248,
         'Lowchen': 1,
         'Malamute': 17,
         'Malinois': 20,
         'Maltese': 131,
         'Manchester': 68,
         'Mastiff': 58,
         'Mexican': 1,
         'Miniature': 815,
         'Mix': 11445,
         'Mountain': 13,
         'Mouth': 101,
         'Neapolitan': 3,
         'Newfoundland': 14,
         'Norfolk': 34,
         'Norwegian': 1,
         'Norwich': 18,
         'Nova': 5,
         'Of': 4,
         'Old': 5,
         'Otterhound': 1,
         'Papillon': 29,
         'Parson': 30,
         'Patterdale': 6,
         'Pbgv': 15,
         'Pekingese': 43,
         'Pembroke': 42,
         'Pequeno': 5,
         'Pharaoh': 13,
         'Picardy': 3,
         'Pinsch': 79,
         'Pinscher': 118,
         'Pit': 2395,
         'Plott': 124,
         'Podengo': 5,
         'Pointer': 239,
         'Pointing': 2,
         'Pomeranian': 73,
         'Poodle': 516,
         'Port': 2,
         'Presa': 3,
         'Pug': 143,
         'Pyrenees': 172,
         'Queensland': 73,
         'Rat': 257,
         'Redbone': 35,
         'Retr': 14,
         'Retriever': 2460,
         'Rhod': 53,
         'Ridgeback': 53,
         'Rottweiler': 209,
         'Rough': 39,
         'Russell': 300,
         'Saluki': 5,
         'Samoyed': 3,
         'Schipperke': 12,
         'Schnauzer': 291,
         'Scotia': 5,
         'Scottish': 7,
         'Sealyham': 1,
         'Setter': 8,
         'Sharpei': 94,
         'Sheepdog': 50,
         'Shepherd': 1398,
         'Shetland': 42,
         'Shiba': 22,
         'Shih': 190,
         'Shorthair': 2423,
         'Siberian': 221,
         'Silky': 8,
         'Skye': 5,
         'Smooth': 74,
         'Soft': 31,
         'Span': 23,
         'Spaniel': 124,
         'Spanish': 2,
         'Spinone': 1,
         'Spitz': 14,
         'Springer': 11,
         'St.': 24,
         'Staffordshire': 251,
         'Standard': 52,
         'Swedish': 7,
         'Swiss': 5,
         'Tan': 31,
         'Tennesse': 1,
         'Terr': 10,
         'Terrier': 1673,
         'Tervuren': 2,
         'Tibetan': 12,
         'Tolling': 5,
         'Toy': 64,
         'Treeing': 16,
         'Tzu': 190,
         'Unknown': 3,
         'Vallhund': 7,
         'Vizsla': 20,
         'Walker': 11,
         'Water': 3,
         'Weimaraner': 30,
         'Welsh': 180,
         'West': 26,
         'Wheaten': 31,
         'Whippet': 48,
         'Wire': 24,
         'Wirehair': 64,
         'Wirehaired': 7,
         'Wolfhound': 6,
         'Yorkshire': 267})

In [51]:
dogs.groupby('Color').count()['AnimalID'].sort(inplace=False)

/home/serpens/opt/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

Color
Yellow/Yellow                     1
Gold/Tan                          1
Brown Brindle/Brown Merle         1
Brown Brindle/Brown Brindle       1
Brown Brindle/Blue Tick           1
Brown Brindle/Blue Cream          1
Brown Brindle/Blue                1
Gold/Yellow                       1
Gray/Red                          1
Blue/Yellow Brindle               1
Liver Tick/White                  1
Liver/Buff                        1
Orange                            1
Orange/Tan                        1
Red Merle/Tan                     1
Blue Tiger                        1
Red Tick/Black                    1
Red Tick/Blue Tick                1
Red Tick/Brown                    1
Blue Tick/Brown Brindle           1
Gold/Buff                         1
Red Tick/Brown Merle              1
Gold/Black                        1
Brown Merle/Blue Merle            1
Buff/Brown                        1
Chocolate/Brown Brindle           1
Chocolate/Brown Merle             1
Chocolate/Cream                   1
Chocolate/Gold                    1
Brown/Silver                      1
                               ...
Gray/White                       82
Sable/White                      86
Fawn/White                      109
White/Brown Brindle             115
Chocolate                       127
Cream                           136
Tan/Black                       183
Yellow                          185
Buff                            195
Sable                           198
Chocolate/White                 221
Brown Brindle                   232
Red/White                       331
Brown/Black                     332
Red                             337
White/Tan                       389
Blue/White                      414
Black/Brown                     435
Brown Brindle/White             450
White/Black                     475
White/Brown                     562
Tan                             627
Brown                           637
Black/Tan                       672
Tricolor                        751
Tan/White                       773
White                           806
Black                           851
Brown/White                     882
Black/White                    1730
Name: AnimalID, dtype: int64

In [52]:
cats.groupby('Name').count()['AnimalID'].sort(inplace=False)

/home/serpens/opt/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

Name
Aaron           1
Mj              1
Mo              1
Moby Dixson     1
Mocha Bean      1
Modelo          1
Moira           1
Moma            1
Momba           1
Momma Kitty     1
Mommas          1
Mona            1
Monster         1
Montana         1
Monte           1
Montgomery      1
Miyu            1
Mitten          1
Mitt            1
Mit Mit         1
Miori           1
Mirabai         1
Miracle         1
Miranda         1
Miriam          1
Mirinda         1
Mischief        1
Moog            1
Mishiro         1
Miss Oliver     1
               ..
Jasmine        13
Riley          13
Pepper         13
Patches        13
Mia            14
Maggie         14
Princess       14
Milo           15
Oscar          15
Smokey         15
Ginger         15
Lilly          15
Jack           15
Leo            15
George         15
Tiger          16
Sophie         16
Molly          17
Kitty          18
Charlie        18
Luna           18
Lucy           18
Sam            18
Daisy          20
Oreo           20
X              21
Lily           21
Bella          22
Max            24
Oliver         25
Name: AnimalID, dtype: int64

In [53]:
dogs.groupby('Name').count()['AnimalID'].sort(inplace=False)

/home/serpens/opt/anaconda3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: sort is deprecated, use sort_values(inplace=True) for INPLACE sorting
  if __name__ == '__main__':

Name
 Joanie        1
Meathead       1
Mee Mee        1
Meena          1
Meerkat        1
Mega           1
Megatron       1
Meggy          1
Mei Mei        1
Meisha         1
Melady         1
Melanie        1
Melbourne      1
Meli           1
Melinda        1
Melissa        1
Melly          1
Melo           1
Menches        1
Mento          1
Mercury        1
Meri           1
Merida         1
Merlow         1
Merlyn         1
Merrick        1
Meatball       1
Merry          1
Meadow         1
Mclean         1
            ...
Brownie       33
Buster        34
Roxy          35
Diamond       36
Rosie         37
Bear          37
Sasha         37
Cookie        38
Toby          39
Molly         40
Maggie        41
Blue          43
Lady          44
Duke          44
Shadow        44
Lucky         45
Coco          48
Luna          50
Sadie         51
Jack          51
Lola          53
Chico         53
Princess      72
Lucy          76
Rocky         77
Buddy         78
Daisy         86
Charlie       89
Max          112
Bella        113
Name: AnimalID, dtype: int64